<ion-view title="Discover Challenge" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="discoverChallenge-form3" class="list ">
            <label class="item item-input" name="localisation">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="18 Rue Smolett, 06300, Nice">
            </label>
            <ion-item class="item-avatar  " id="discoverChallenge-list-item3" ui-sref="tabsController.discoverChallenge2">
                <img src="img/ofe35dZ5TfWqfVb7IbAE_Capture.PNG">
                <h2>Ma Nolan's Beer Challenge</h2>
                <p>Location: 2 Rue Promenade, Nice</p>
            </ion-item>
            <ion-item class="item-avatar  " id="discoverChallenge-list-item5" ui-sref="tabsController.discoverChallenge2">
                <img src="img/5t56PYaSSHGtonBwriXT_Capture.PNG">
                <h2>Euro 2016 Bet</h2>
                <p>Location: Place Massena</p>
            </ion-item>
            <ion-item class="item-avatar  " id="discoverChallenge-list-item6" ui-sref="tabsController.discoverChallenge2">
                <img src="img/RHSZR71ZR0qPir0fk4u3_Capture1.PNG">
                <h2>Firework Photograph</h2>
                <p>Location: 12 Avenue Montpeilier</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>