<ion-view title="My Profile" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="me-list4" class=" ">
            <ion-item class="item-avatar  " id="me-list-item9">
                <img src="img/2paQOdQwWEa3F8HC8GcA_IMG_5044.JPG">
                <h2>Sining</h2>
                <p>Capupa ID: #Iloveyouguys</p>
            </ion-item>
            <ion-item id="me-list-item18" class="  ">Register email: qusining@gmail.com</ion-item>
            <ion-item id="me-list-item36" class="  ">Birthday: 06 Nov 1993</ion-item>
            <ion-item id="me-list-item33" class="  ">Capupa Status: <img src="img/monkey.jpg" width="8%" height="8%"/><img src="img/monkey.jpg"  width="8%" height="8%"/></ion-item>
            <ion-item id="me-list-item14" class="  ">Challenges Succeeded: 3</ion-item>
        </ion-list>

        <button id="discoverChallenge2-button129" class=" button button-positive  button-block ">Modify My Profile</button>
    </ion-content>
</ion-view>