<ion-view title="Me" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="me2-list9" class=" ">
            <ion-item class="item-avatar  " id="me2-list-item35">
                <img src="img/2paQOdQwWEa3F8HC8GcA_IMG_5044.JPG">
                <h2>Sining</h2>
                <p>Capupa ID: #iloveyouguys</p>
            </ion-item>
        </ion-list>
        <ion-list id="me2-list19" class=" ">
            <ion-item class="item-avatar  " id="me2-list-item37">
                <img src="img/dXapDEDpQG2lXQuSqnkc_blue-lobster-and-purple-asparagus-at-le-bistrot-au-bord-de-l-eau-burgundy-france-conde-nast-traveller-30sept14-lisa-linder_1080x720.jpg">
                <h2>Award from Ma Nolans</h2>
                <p>gift code #a07258-967</p>
            </ion-item>
            <ion-item class="item-avatar  " id="me2-list-item40">
                <img src="img/2PVRxdcwTGaywOjbxg5K_chronology10-1280-900-bfb7f27c (1).jpg">
                <h2>Award from Coca cola</h2>
                <p>gift code #s89257-423</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>