<ion-view title="My Awards" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="me2-list9" class=" ">
            <ion-item class="item-avatar  " id="me2-list-item35">
                <img src="img/2paQOdQwWEa3F8HC8GcA_IMG_5044.JPG">
                <h2>Sining</h2>
                <p>Capupa ID: #iloveyouguys</p>
            </ion-item>
        </ion-list>
        <ion-list id="me2-list19" class=" ">
            <ion-item class="item-avatar  " id="me2-list-item37">
                <img src="img/dXapDEDpQG2lXQuSqnkc_blue-lobster-and-purple-asparagus-at-le-bistrot-au-bord-de-l-eau-burgundy-france-conde-nast-traveller-30sept14-lisa-linder_1080x720.jpg">
                <h2>Irish Beer Voucher from Ma Nolans</h2>
                <p>Collect point: Ma Nolan's Bar, 2 rue Halais</p>
                <p>Gift expire time: 12:00  25 August 2016</p>
                <img src="img/qr.png" width="50%" height="50%"/>
            </ion-item>
            <ion-item class="item-avatar  " id="me2-list-item40">
                <img src="img/2PVRxdcwTGaywOjbxg5K_chronology10-1280-900-bfb7f27c (1).jpg" width="120%" height="100%">
                <h2>1 Pack Cola from Coca cola</h2>
                <p>Collect point: Tabac Shop, 12 avenue Aples</p>
                <p>Gift expire time: 12:00  6 October 2016</p>
                <img src="img/qr.png" width="50%" height="50%"/>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>