<ion-view title="My Challenge proposer" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="myChallengeProposer2-button-bar7" class=" button-bar ">
            <a ui-sref="tabsController.myChallenge2" id="myChallengeProposer2-button28" class=" button button-positive  button-outline ">Participatant</a>
            <button id="myChallengeProposer2-button29" class=" button button-positive  ">Proproser</button>
        </div>
        <form id="myChallengeProposer2-form11" class="list ">
            <label class="item item-input " id="myChallengeProposer2-textarea18">
                <span class="input-label">Challenges I proposed</span><textarea placeholder=""></textarea>
            </label>
            <ion-item class="item-avatar  " id="myChallengeProposer2-list-item49">
                <h2>EIA 2016 Challenge 1</h2>
                <p>Location: 18 Rue Smolett, Nice</p>
            </ion-item>
        </form>
        <p id="myChallengeProposer2-markdown2" style="color:#000000;" class=" ">Candidates Profiles</p>
        <ion-list id="myChallengeProposer2-list12" class=" ">
            <ion-item class="item-avatar  " id="myChallengeProposer2-list-item51" ui-sref="myChallengeProposer3">
                <h2>Sining</h2>
                <p>Proof Submit Time</p>
            </ion-item>
            <ion-item class="item-avatar  " id="myChallengeProposer2-list-item52" ui-sref="myChallengeProposer3">
                <h2>Yiling</h2>
                <p>Proof Submit Time</p>
            </ion-item>
            <ion-item class="item-avatar  " id="myChallengeProposer2-list-item53" ui-sref="myChallengeProposer3">
                <h2>Paul</h2>
                <p>Proof Submit Time</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>