<ion-view title="My Challenge" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="myChallenge2-button-bar3" class=" button-bar "></div>
        <div id="myChallenge2-button-bar10" class=" button-bar ">
            <button id="myChallenge2-button41" class=" button button-positive  button-block ">Current Challenges</button>
            <a ui-sref="tabsController.myChallenge3" id="myChallenge2-button42" class=" button button-stable  button-block ">Past Challenges</a>
        </div>
        <ion-list id="myChallenge2-list7" class=" ">
            <ion-item class="item-avatar  " id="myChallenge2-list-item23" ui-sref="tabsController.myChallenge">
                <img src="img/JlTIMY5FQs6CYeI1swWJ_manolan.PNG">
                <h2>Ma nolans recipes</h2>
                <p>Expire: 15 July 12pm</p>
            </ion-item>
            <ion-item class="item-avatar  " id="myChallenge2-list-item24" ui-sref="tabsController.myChallenge">
                <img src="img/OCPO9H2TE6Ot2xUsKjxr_photo-events-panel-quiz.jpg">
                <h2>Massena fireworks</h2>
                <p>Location: Nice</p>
            </ion-item>
            <ion-item class="item-avatar  " id="myChallenge2-list-item16" ui-sref="tabsController.myChallenge">
                <img src="img/cYTHa26QShes0yt1S9kr_eia.PNG">
                <h2>EIA2016NiceChallenge</h2>
                <p>Location: Nice</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>