<ion-view title="MyChallenge" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="myChallenge-form7" class="list ">
            <ion-item class="item-avatar  " id="myChallenge-list-item34">
                <img src="img/n5Mmxu3XRlu8iI2LPUlA_manolan.PNG">
                <h2>Ma Nolan's Beer Challenge</h2>
                <p>Location: 2 Rue Promenade, Nice</p>
            </ion-item>
            <label class="item item-input " id="myChallenge-textarea12">
                <span class="input-label">Details</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="myChallenge-textarea13">
                <span class="input-label">Participants: Sining, Yiling</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="myChallenge-button17" class=" button button-stable  button-block ">Upload proof</button>
        <a ui-sref="tabsController.myChallenge4" id="myChallenge-button20" class=" button button-positive  button-block ">Upgrade this challenge</a>
        <button id="myChallenge-button21" class=" button button-positive  button-block ">Quit this challenge</button>
    </ion-content>
</ion-view>