<ion-view title="My Challenge" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="myChallenge4-heading4" style="color:#000000;text-align:center;" class=" ">Congrats! Now submit your comments and share with your friends!</h4>
        <div id="myChallenge4-button-bar6" class=" button-bar "></div>
        <ion-list id="myChallenge4-list11" class=" ">
            <ion-item class="item-avatar  " id="myChallenge4-list-item48">
                <img src="img/I4ELQFRRQejYYPqV4iLo_manolan.PNG">
                <h2>Ma Nolan's Beer Challenge</h2>
                <p>Location: 2 Rue Promenade, Nice</p>
            </ion-item>
        </ion-list>
        <div id="myChallenge4-button-bar9" class=" button-bar "></div>
        <form id="myChallenge4-form15" class="list ">
            <label class="item item-input " id="myChallenge4-textarea20">
                <span class="input-label">Rate this challenge</span><textarea placeholder="">     4 / 5</textarea>
            </label>
            <label class="item item-input " id="myChallenge4-textarea14">
                <span class="input-label">Comments</span><textarea placeholder="">       A remarkable experience </textarea>
            </label>
        </form>
        <div class="">
            <img src="img/qXCXvK7wT3mV8Ls4kLgZ_keep-calm-and-drink-beer-435-650x487.png" width="100%" height="60%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/UPRAKNl0QL22R9mxE0le_Blue.png" width="50%" height="30%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button id="myChallenge4-button46" class=" button button-positive  button-block ">Submit and Share !</button>
    </ion-content>
</ion-view>