<ion-view title="Signup" id="page10" class=" ">
    <ion-content padding="true" class="has-header-main">
        <div class="spacer" style="width: 300px; height: 63px;"></div>
        <div class="capupa_logo">
            <img src="img/jrT2HnL7QkafrO4S3mkA_capupa (1).png" width="100%" height="50%" style="display:block;">
        </div>
        
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list2" class=" ">
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Email" ng-model="email">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="" ng-model="password">>
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Birthday</span>
                    <input type="text" placeholder="dd/mm/yyyy" ng-model="birthday">>
                </label>
            </ion-list>
            <a ng-click="addUser()" ui-sref="tabsController.discoverChallenge" id="signup-button5" class=" button button-stable  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>