<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Discover Challenge" icon="ion-ios-search-strong" href="#/page1/page3" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Challenge" icon="ion-ios-game-controller-b" href="#/page1/MyParticipatedChallengeCurrent" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Awards" icon="ion-ribbon-b" href="#/page1/MyRewards" id="tabsController-tab5" class=" ">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Profile" icon="ion-ios-contact-outline" href="#/page1/page8" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>